body{
    background: grey;
}
.likeIcon-wrap {
    position: fixed;
    margin-top: 10px;
    margin-left: 200px;
    z-index: 5;
}

.like-icon {
    width: 68px;
    height: 62px;
    z-index: 7;
    background: url("https://littlewhite999.github.io/XiaoBai_02/img/love_white.png") no-repeat center;
    background-size: 68px 62px;
}

.on {
    background: url("https://littlewhite999.github.io/XiaoBai_02/img/love_red.png") no-repeat center;
    background-size: 68px 62px;
}

.like-num {
    width: 68px;
    height: 34px;
    margin-top: 10px;
    color: #ebebeb;
    text-align: center;
    font-size: 30px;
}
